<%- include("partials/header"); -%>

<!-- Title -->
<div>
  <% if (query) { %>
  <h1>Search results for "<%= query %>"</h1>
<% } else if (category) { %>
  <h1>Posts in category "<%= category %>"</h1>
<% } %>

  </div>

<section class="Blogposts">
  <div class="row flex">
    <div class="col-lg-9 row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <% if (posts.length > 0) { %>
      <% posts.forEach(function(post){ %>
        <div class="feature-box col-lg-4">
          <h4><%=post.title%></h1>
          <p>
            <%- post.content.substring(0, 500) -%>
            <%=" ..."%>
            <a href="/posts/<%=post.slug%>"><button type="button" class="btn btn-dark btn-md btn-outline-info"> <i class="bi bi-command"></i> Read More</button></a>
          </p>
        </div>
      <% }) %>
    <% } else { %>
      <p>No search results found</p>
    <% } %>
    </div>
    <div class="col-md-3 blogsidebar">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 border-top my-3">
          <form class="form-inline my-2 my-lg-0" action="/search">
            <h4>Search Blog Topics</h4>
            <div class="input-group">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>

        <div class="ml-form-embed border-top my-3" data-account="3770054:f0q9y8s9n1" data-form="5367344:v7r0w3">
        </div>

        <div class="p-4 border-top my-3">
          <h4>Blog Topics</h4>
          <ol class="list-unstyled mb-0 ">
            <li><a href="/search?category=Healing">Healing and Recovery</a></li>
            <li><a href="/search?category=Moving%20On">Moving on From Abuse</a></li>
            <li><a href="/search?category=Relationship%20Problems">Relationship Problems</a></li>
            <li><a href="/search?category=Dating">Dating</a></li>
            <li><a href="/search?category=Healthy Relationships">Healthy Relationships</a></li>
            <li><a href="/search?category=Trauma">Trauma</a></li>
            <li><a href="/search?category=Spirituality">Spirituality</a></li>
            <li><a href="/search?category=Narcissists">All About Narcissists</a></li>
            <li><a href="/search?category=Emotional%20Abuse">Emotional Abuse</a></li>
            <li><a href="/search?category=Manipulation">Manipulation Techniques</a></li>
            <li><a href="/search?category=Personal%20Development"></a></li>
            <li><a href="/search?category=Trauma%20Bond">Trauma Bond</a></li>
          </ol>
        </div>

        <div class="p-4 mb-3 bg-light rounded border-top my-3">
          <h4 class="text-center">About</h4>
          <p class="mb-0 text-center"><img src="https://drive.google.com/uc?id=1QhLL4M43pp665S0MbUAk2AgDwsNGE12j" class=" blogphoto" alt="Edwin-Profile_Pic">
          </p>
          <p>Hi, I am Edwin Bii and I am passionate about helping people who've been
            in abusive relationships or abusive past overcome their emotional pain and
            learn how to date right. I have helped client overcome their depression,
feelings of emptiness, loneliness, chronic pain,
feeling of unworthiness and all those symptoms
you’ve experienced as a result of their past hurts,
traumas and experiences!</p>

        </div>



        <div class="p-4 border-top my-3" style="max-height: 300px; overflow: auto;">
          <h4>Archives</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="/blog?page=2">March 2023</a></li>
            <li><a href="/blog?page=3">February 2023</a></li>
            <li><a href="/blog?page=5">January 2023</a></li>
            <li><a href="/blog?page=6">December 2022</a></li>
            <li><a href="/blog?page=7">November 2022</a></li>
            <li><a href="/blog?page=9">October 2022</a></li>
            <li><a href="/blog?page=11">September 2022</a></li>
            <li><a href="/blog?page=12">August 2022</a></li>
            <li><a href="/blog?page=13">July 2022</a></li>
            <li><a href="/blog?page=13">June 2022</a></li>
            <li><a href="/blog?page=14">2021</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- //pagination -->
  <nav>
  <ul class="pagination justify-content-center">
    <% if (current > 1) { %>
      <li class="page-item">
        <a class="page-link" href="/blog?page=<%= current - 1 %>">&laquo;</a>
      </li>
    <% } %>
    <% for (let i = 1; i <= pages; i++) { %>
      <% if (i === current) { %>
        <li class="page-item active">
          <span class="page-link"><%= i %></span>
        </li>
      <% } else { %>
        <li class="page-item">
          <a class="page-link" href="/blog?page=<%= i %>"><%= i %></a>
        </li>
      <% } %>
    <% } %>
    <% if (current < pages) { %>
      <li class="page-item">
        <a class="page-link" href="/blog?page=<%= current + 1 %>">&raquo;</a>
      </li>
    <% } %>
  </ul>
  </nav>

</section>

<%- include("partials/footer"); -%>
